{% extends './base.html' %}
{% load static %}
{% load thumbnail %}
{% block menus %}
<div class="wrapper-pro">
    <div class="left-sidebar-pro">
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="#"><img src="{% if user.avatar %} {{user.avatar |thumbnail_url:'avatar2'  }} {%else%} {% static 'mike_admin/img/message/1.jpg' %} {% endif %}" alt="user avatar" />
                </a>
                <h3>{{ user.first_name}} {{user.last_name}}</h3>
                <p>{% if user.is_superuser%} Super User {%elif user.is_staff%}}Staff Member {%else%} User {% endif %}</p>
                <strong>MkC</strong>
            </div>
            <div class="left-custom-menu-adp-wrap">
                <ul class="nav navbar-nav left-sidebar-menu-pro">
                    <li class="nav-item">
                        <a href="{% url "mike_admin:home" %}"  role="button"  class="nav-link"><i class="fa big-icon fa-home"></i> <span class="mini-dn">Home</span></a>
                        
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a href="{% url "mike_admin:users" %}"  role="button"  class="nav-link"><i class="fa big-icon fa-users"></i> <span class="mini-dn">Users</span></a>
                        
                    </li>
                    <li class="nav-item">
                        <a href="{% url "mike_admin:lipa" %}"  role="button"  class="nav-link"><i class="fa big-icon fa-btc"></i> <span class="mini-dn">Transactions</span></a>
                        
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        
                        
                    </li>
                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa big-icon fa-money"></i> <span class="mini-dn">Lipa Na Mpesa</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                        <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                            <a href="{% url "home:lipa_na_mpesa_form" %}"  class="dropdown-item">Mpesa Online Payment</a>
                            <a href="{% url "home:select-service" %}"  class="dropdown-item">Paybill</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa big-icon fa-user"></i> <span class="mini-dn">Profile</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                        <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                            <a href="{% url 'mike_admin:profile' %}" class="dropdown-item">View Profile</a>
                            <a href="{% url 'mike_admin:update_profile' %}" class="dropdown-item">Update Profile</a>
                            <a href="{% url 'mike_admin:change_password' %}" class="dropdown-item">Change Password</a>
                            <a href="{% url 'mike_admin:logout' %}" class="dropdown-item">Logout</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa big-icon fa-newspaper-o"></i> <span class="mini-dn">Blog</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                        <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                            <a href="{% url 'article:post' %}" class="dropdown-item">Blogs</a>
                            {% if user.is_staff %}
                            <a href="{% url 'article:create_post' %}" class="dropdown-item">Create New Article</a>
                            {% endif %}
                        </div>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa big-icon fa-quote-left"></i> <span class="mini-dn">Testimonial</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                        <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                            <a href="{% url 'mike_admin:testimonials' %}" class="dropdown-item">Testimonials</a>                          
                            <a href="{% url 'mike_admin:create_testimonial' %}" class="dropdown-item">Create New Testimonial</a>                            
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa big-icon fa-user-plus"></i> <span class="mini-dn">Staff Members</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                        <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                            <a href="{% url 'mike_admin:staffs' %}" class="dropdown-item">Staff Members</a>                          
                            <a href="{% url 'mike_admin:create_staff' %}" class="dropdown-item">Create New Staff Member</a>                            
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa big-icon fa-gears"></i> <span class="mini-dn">Terms Of Service</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                        <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                            <a href="{% url 'mike_admin:terms' %}" class="dropdown-item">Terms Of Service</a>                          
                            <a href="{% url 'mike_admin:create_terms' %}" class="dropdown-item">Create Terms</a>                            
                        </div>
                    </li>
                    
                    {% endif %}
                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa big-icon fa-cloud-upload"></i> <span class="mini-dn">Uploaded Content</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                        <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                            <a href="{% url 'mike_admin:music' %}" class="dropdown-item">Musics</a>                          
                            <a href="{% url 'mike_admin:create_music' %}" class="dropdown-item">Upload</a>                            
                        </div>
                    </li>
                   
                </ul>
            </div>
        </nav>
    </div>
    <!-- Header top area start-->
    <div class="content-inner-all">
        <div class="header-top-area">
            <div class="fixed-header-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12">
                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="admin-logo logo-wrap-pro">
                              <a href="/"><img src="{% static "icons/long_logo_white.png" %}" alt="Mike creatives logo"  width="230"/>
                                           
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-1 col-sm-1 col-xs-12">
                            <div class="header-top-menu tabl-d-n">
                                <ul class="nav navbar-nav mai-top-nav">
                                    <li class="nav-item"><a href="{% url "mike_admin:home" %}" class="nav-link">Home</a>
                                    </li>
                                    {% if user.is_superuser %}
                                    <li class="nav-item"><a href="/admin" class="nav-link">Admin</a>
                                    </li>
                                    {%endif%}
                                    <li class="nav-item"><a href="/" class="nav-link">Site</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                            <div class="header-right-info">
                                <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                    {% if user.is_staff %}
                                    <li class="nav-item dropdown">
                                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="true" class="nav-link dropdown-toggle"><span class="adminpro-icon adminpro-chat-pro"></span><span class="indicator-ms"></span></a>
                                        <div role="menu" class="author-message-top dropdown-menu animated flipInX">
                                            <div class="message-single-top">
                                                <h1>New Comments</h1>
                                            </div>
                                            <ul class="message-menu mCustomScrollbar _mCS_1 mCS-autoHide" style="position: relative; overflow: visible;"><div id="mCSB_1" class="mCustomScrollBox mCS-light-1 mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
                                                {% if new_comments %}
                                                {% for comment in new_comments %}
                                                
                                                <li>
                                                    <a href="#">
                                                        <div class="message-img">
                                                            <img src="img/message/4.jpg" alt="" class="mCS_img_loaded">
                                                        </div>
                                                        <div class="message-content">
                                                            <span class="message-date">{{comment.created_on.date}}</span>
                                                            <h2>{{comment.name}}</h2>
                                                            <p>{{comment}}</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                {% endfor%}
                                                {% else %}
                                                <li>
                                                    <a href="#">
                                                        
                                                        <div class="message-content">
                                                            <h2>No Comments</h2>
                                                        </div>
                                                    </a>
                                                </li>
                                                {% endif %}
                                                
                                            </div></div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light-1 mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; top: 0px; display: block; height: 102px; max-height: 180px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></ul>
                                            <div class="message-view">
                                                <a href="">{{comments}} Comments</a>
                                            </div>
                                        </div>
                                    </li>
                                    {% endif %}
                                    <li class="nav-item">
                                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                            <span class="adminpro-icon adminpro-user-rounded header-riht-inf"></span>
                                            <span class="admin-name">{% if user.full_name %} {{user.full_name }} {% else %} {{user.username}} {% endif %}</span>
                                            <span class="author-project-icon adminpro-icon adminpro-down-arrow"></span>
                                        </a>
                                        <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">
                                            <li><a href="{% url 'mike_admin:profile' %}"><span class="adminpro-icon adminpro-user-rounded author-log-ic"></span>My Profile</a>
                                            </li>
                                            <li><a href="{% url 'mike_admin:logout' %}"><span class="adminpro-icon adminpro-locked author-log-ic"></span>Log Out</a>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header top area end-->
        <!-- Breadcome start-->
        <div class="breadcome-area mg-b-30 small-dn">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="breadcome-heading">
                                        <form role="search" class="">
                                            <input type="text" placeholder="Search..." class="form-control">
                                            <a href=""><i class="fa fa-search"></i></a>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="breadcome-menu">
                                        {% block breadcrump %}
                                       
                                        {% endblock %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcome End-->
        <!-- Mobile Menu start -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul class="mobile-menu-nav">
                                    <li> <a href="{% url "mike_admin:home" %}">Home <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                       
                                    </li>
                                    {% if user.is_staff %}
                                    <li> <a href="{% url "mike_admin:users" %}">Users <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                       
                                    </li>
                                    <li> <a href="{% url "mike_admin:lipa" %}">Transactions <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                       
                                    </li>
                                    {% endif %}
                                    <li> <a href="{% url "home:lipa_na_mpesa_form" %}">Lipa Na Mpesa Online<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                       
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demo" href="#">Lipa Na Mpesa <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        <ul id="demo" class="collapse dropdown-header-top">
                                            <li><a href="{% url 'home:lipa_na_mpesa_form' %}" class="dropdown-item">Mpesa Online Payment</a>
                                            </li>
                                            <li><a href="{% url 'home:select-service' %}">Paybill</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demo" href="#">Profile <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        <ul id="demo" class="collapse dropdown-header-top">
                                            <li><a href="{% url 'mike_admin:profile' %}" class="dropdown-item">View Profile</a>
                                            </li>
                                            <li><a href="{% url 'mike_admin:update_profile' %}">Update Profile</a>
                                            </li>
                                            <li><a href="{% url 'mike_admin:change_password' %}">Change Password</a>
                                            </li>
                                            <li><a href="{% url 'mike_admin:logout' %}" class="dropdown-item">Logout</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demo" href="#">Blogs <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        <ul id="demo" class="collapse dropdown-header-top">
                                            <li><a href="{% url 'article:post' %}" class="dropdown-item">Blogs</a>
                                            </li>
                                            <li>{% if user.is_staff %}
                                                <a href="{% url 'article:create_post' %}" class="dropdown-item">Create New Article</a>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    {% if user.is_staff %}
                                    <li><a data-toggle="collapse" data-target="#demo" href="#">Testimonials <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        <ul id="demo" class="collapse dropdown-header-top">
                                            <li><a href="{% url 'mike_admin:testimonials' %}" class="dropdown-item">Testimonials</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'mike_admin:create_testimonial' %}" class="dropdown-item">Create New Testimonial</a>
                                              
                                            </li>                                           
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demo" href="#">Staff Members <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        <ul id="demo" class="collapse dropdown-header-top">
                                            <li><a href="{% url 'mike_admin:staffs' %}" class="dropdown-item">Staff Members</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'mike_admin:create_staff' %}" class="dropdown-item">Create New Staff</a>                                              
                                            </li>                                           
                                        </ul>
                                    </li>
                                    <li><a data-toggle="collapse" data-target="#demo" href="#">Terms of Service <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        <ul id="demo" class="collapse dropdown-header-top">
                                            <li><a href="{% url 'mike_admin:terms' %}" class="dropdown-item">Terms</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'mike_admin:create_terms' %}" class="dropdown-item">Create Term</a>                                              
                                            </li>                                           
                                        </ul>
                                    </li>
                                    {% endif %}
                                    <li><a data-toggle="collapse" data-target="#demo" href="#">Uploaded Content<span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        <ul id="demo" class="collapse dropdown-header-top">
                                            <li><a href="{% url 'mike_admin:music' %}" class="dropdown-item">Uploaded Musics</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'mike_admin:create_music' %}" class="dropdown-item">Upload New</a>                                              
                                            </li>                                           
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu end -->
        <!-- Breadcome start-->
        <div class="breadcome-area des-none mg-b-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                                    <ul class="breadcome-menu">
                                        {% block m-breadcrump %}
                                        {% endblock %}
                                    </ul>
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcome End-->
        {% if messages %}       
            <div class="col-md-12">
            <ul>
                
            {% for message in messages %}
                <li {% if message.tags %} class="alert alert-{{message.tags}} alert-success-style1 alert-success-stylenone" {% endif %}>
                    <div class=>
                        <button type="button" class="close sucess-op" data-dismiss="alert" aria-label="Close">
                            <span class="icon-sc-cl" aria-hidden="true">×</span>
                        </button>
                        {% if message.tags == "warning"%}
                             <span class="adminpro-icon adminpro-checked-pro admin-check-sucess admin-check-pro-none"></span>
                        {% elif message.tags == "Success" %}
                            <span class="adminpro-icon adminpro-checked-pro admin-check-sucess admin-check-pro-none"></span>
                        {% elif message.tags == "Info"%}
                          <span class="adminpro-icon adminpro-warning-danger admin-check-sucess admin-check-pro-none"></span>
                        {% else %}
                            
                        <span class="adminpro-icon adminpro-danger-error admin-check-sucess admin-check-pro-none"></span>
                        {% endif%}
                        <p><strong>
                            {%if message.tags == "warning"%} Warning!
                             {%elif message.tags == "success" %} Success!  
                             {%elif message.tags == "info"%} Info! {% else %} Error! {%endif%}</strong>{{message}}</p>
                    </div>
                </li>
            {% endfor %}
            </ul>
            </div>
        {% endif %}

        {% if user.is_staff %}
        {% block statistics %}
        {% endblock statistics %}
        {% endif %}
        
{% endblock %}
{% block footer%}
    <!-- Footer Start-->
    <div class="footer-copyright-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copy-right">
                        <p>Copyright &#169; {% now "Y" %} Mike Creatives All rights reserved. Developed by <a href="https://hilmus.com">Hilmus Software</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- {% block content %}{% endblock%}   -->
