{% extends './base_site.html' %}
{% load thumbnail %}
            {% block title %}  Mike Creatives Portal {% endblock%}
            {% block breadcrump %}
                <li><a href="#">Home</a> <span class="bread-slash">/</span>
                </li>
                <li><span class="bread-blod">Dashboard</span>
                </li>
            {% endblock %}
            {% block m-breadcrump %}
                <li><a href="#">Home</a> <span class="bread-slash">/</span>
                </li>
                <li><span class="bread-blod">Dashboard</span>
                </li>
            {% endblock %}
            {% block statistics %}
                 {% include './includes/statistic.html' %}
            {% endblock %}
            {% block content %}
            <div class="feed-mesage-project-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="sparkline9-list shadow-reset mg-tb-30">
                                <div class="sparkline9-hd">
                                    <div class="main-sparkline9-hd">
                                        <h1>{% if user.is_staff %} Musics To Upload {% else %} Pending Musics {% endif %}</h1>
                                        <div class="sparkline9-outline-icon">
                                            <span class="sparkline9-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                            <span><i class="fa fa-wrench"></i></span>
                                            <span class="sparkline9-collapse-close"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sparkline9-graph dashone-comment">
                                    <div class="datatable-dashv1-list custom-datatable-overright dashtwo-project-list-data">
                                        <div id="toolbar1">
                                            <select class="form-control">
                                                <option value="">Export Basic</option>
                                                <option value="all">Export All</option>
                                                <option value="selected">Export Selected</option>
                                            </select>
                                        </div>
                                        <table id="table1" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-resizable="true" data-cookie="true" data-page-size="5" data-page-list="[5, 10, 15, 20, 25]" data-cookie-id-table="saveId" data-show-export="true">
                                            <thead>

                                                <tr>
                                                    <th data-field="state" data-checkbox="true"></th>
                                                    <th data-field="Username">Title</th>
                                                    <th data-field="Full Name" data-editable="false">Artist</th>
                                                    <th data-field="Email" data-editable="false">Music</th>
                                                    <th data-field="Phone Number" data-editable="false">Date Uploaded</th>
                                                    
                                                    <th data-field="Actions" data-editable="false">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if musics and user.is_staff %}
                                                {% for music in musics %}
                                                <tr>
                                                    <td></td>
                                                    <td>{{music.title}}</td>
                                                    <td><a href="{% url 'mike_admin:user_detail' music.artist %}">{{music.artist}}</a></td>
                                                    <td><a href ='{{music.music.url}}'>{{music.music}}</a></td>
                                                    <td>{{music.date_added}}</td>                                                    
                                                    <td style="">
                                                        <div class="btn-group project-list-action">
                                                            <a href="{% url 'mike_admin:music_detail' music.id %}" class="btn btn-white btn-action btn-xs"><i class="fa fa-folder"></i> View</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </a>
                                                {% endfor %}
                                                
                                                {% else %}
                                                     <tr>There are musics here</tr>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="sparkline9-list shadow-reset mg-tb-30">
                                <div class="sparkline9-hd">
                                    <div class="main-sparkline9-hd">
                                        <h1>Uploaded Music</h1>
                                        <div class="sparkline9-outline-icon">
                                            <span class="sparkline9-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                            <span><i class="fa fa-wrench"></i></span>
                                            <span class="sparkline9-collapse-close"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sparkline9-graph dashone-comment">
                                    <div class="datatable-dashv1-list custom-datatable-overright dashtwo-project-list-data">
                                        <div id="toolbar1">
                                            <select class="form-control">
                                                <option value="">Export Basic</option>
                                                <option value="all">Export All</option>
                                                <option value="selected">Export Selected</option>
                                            </select>
                                        </div>
                                        <table id="table1" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-resizable="true" data-cookie="true" data-page-size="5" data-page-list="[5, 10, 15, 20, 25]" data-cookie-id-table="saveId" data-show-export="true">
                                            <thead>

                                                <tr>
                                                    <th data-field="state" data-checkbox="true"></th>
                                                    <th data-field="Username">Title</th>
                                                    <th data-field="Full Name" data-editable="false">Artist</th>
                                                    <th data-field="Email" data-editable="false">Music</th>
                                                    <th data-field="Phone Number" data-editable="false">Date Uploaded</th>
                                                    
                                                    <th data-field="Actions" data-editable="false">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if upload and user.is_staff %}
                                                {% for music in upload %}
                                                <tr>
                                                    <td></td>
                                                    <td>{{music.title}}</td>
                                                    <td><a href="{% url 'mike_admin:user_detail' music.artist %}">{{music.artist}}</a></td>
                                                    <td><a href ='{{music.music.url}}'>{{music.music}}</a></td>
                                                    <td>{{music.date_added}}</td>                                                    
                                                    <td style="">
                                                        <div class="btn-group project-list-action">
                                                            <a href="{% url 'mike_admin:music_detail' music.id %}" class="btn btn-white btn-action btn-xs"><i class="fa fa-folder"></i> View</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                
                                                {% endfor %}
                                                
                                                {% else %}
                                                     <tr>There are musics here</tr>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if user.is_staff %}
                        <div class="col-lg-6">
                            <div class="sparkline9-list shadow-reset mg-tb-30">
                                <div class="sparkline9-hd">
                                    <div class="main-sparkline9-hd">
                                        <h1>Active Users</h1>
                                        <div class="sparkline9-outline-icon">
                                            <span class="sparkline9-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                            <span><i class="fa fa-wrench"></i></span>
                                            <span class="sparkline9-collapse-close"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sparkline9-graph dashone-comment">
                                    <div class="datatable-dashv1-list custom-datatable-overright dashtwo-project-list-data">
                                        <div id="toolbar1">
                                            <select class="form-control">
                                                <option value="">Export Basic</option>
                                                <option value="all">Export All</option>
                                                <option value="selected">Export Selected</option>
                                            </select>
                                        </div>
                                        <table id="table1" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-resizable="true" data-cookie="true" data-page-size="5" data-page-list="[5, 10, 15, 20, 25]" data-cookie-id-table="saveId" data-show-export="true">
                                            <thead>
                                                <tr>
                                                    <th data-field="state" data-checkbox="true"></th>
                                                    <th data-field="Username">Username</th>
                                                    <th data-field="Full Name" data-editable="false">Full Name</th>
                                                    <th data-field="Email" data-editable="false">Email</th>
                                                    <th data-field="Phone Number" data-editable="false">Phone Number</th>
                                                    <th data-field="Musics" data-editable="false">Musics</th>                                                    
                                                    <th data-field="Avatar" data-editable="false">Avatar</th>
                                                    <th data-field="Action" data-editable="false">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if users %}
                                                {% for use in users %}

                                                <tr>
                                                    <td></td>
                                                    <td>{{use.username}}</td>
                                                    <td>{{use.first_name}} {{user.last_name}}</td>
                                                    <td>{{use.email}}</td>
                                                    <td>{{use.phone}}</td>
                                                    <td>{{use.musics.count}}</td>
                                                    <td><img style="border-radius: 50%;" src = "{{use.avatar |thumbnail_url:'avatar_small'  }} " alt="Profile picture"></td>
                                                    <td style="">
                                                        <div class="btn-group project-list-action">
                                                            <a href="{% url 'mike_admin:user_detail' use.username %}" class="btn btn-white btn-action btn-xs"><i class="fa fa-folder"></i> View</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                
                                                {% else %}
                                                     <tr>There are no users here</tr>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="sparkline9-list shadow-reset mg-tb-30">
                                <div class="sparkline9-hd">
                                    <div class="main-sparkline9-hd">
                                        <h1>InActive Users</h1>
                                        <div class="sparkline9-outline-icon">
                                            <span class="sparkline9-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                            <span><i class="fa fa-wrench"></i></span>
                                            <span class="sparkline9-collapse-close"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sparkline9-graph dashone-comment">
                                    <div class="datatable-dashv1-list custom-datatable-overright dashtwo-project-list-data">
                                        <div id="toolbar1">
                                            <select class="form-control">
                                                <option value="">Export Basic</option>
                                                <option value="all">Export All</option>
                                                <option value="selected">Export Selected</option>
                                            </select>
                                        </div>
                                        <table id="table1" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-resizable="true" data-cookie="true" data-page-size="5" data-page-list="[5, 10, 15, 20, 25]" data-cookie-id-table="saveId" data-show-export="true">
                                            <thead>
                                                <tr>
                                                    <th data-field="state" data-checkbox="true"></th>
                                                    <th data-field="Username">Username</th>
                                                    <th data-field="Full Name" data-editable="false">Full Name</th>
                                                    <th data-field="Email" data-editable="false">Email</th>
                                                    <th data-field="phone number" data-editable="false">Phone Number</th>
                                                    <th data-field="Musics" data-editable="false">Musics</th>
                                                    <th data-field="Avatar" data-editable="false">Avatar</th>
                                                    <th data-field="Action" data-editable="false">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if users %}
                                                {% for use in inactive_users %}
                                                <tr>
                                                    <td></td>
                                                    <td>{{use.username}}</td>
                                                    <td>{{use.get_full_name}}</td>
                                                    <td>{{use.email}}</td>
                                                    <td>{{use.phone}}</td>
                                                    <td>{{use.musics.count}}</td>
                                                    <td><img style="border-radius: 50%;" src = "{{use.avatar |thumbnail_url:'avatar_small'  }} " alt="Profile picture"></td>
                                                    <td style="">
                                                        <div class="btn-group project-list-action">
                                                            <a href="{% url 'mike_admin:user_detail' use.username %}" class="btn btn-white btn-action btn-xs"><i class="fa fa-folder"></i> View</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}                                                
                                                {% else %}
                                                     <tr>There are no users here</tr>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}                       
                    </div>
                </div>
            </div>
            {% if user.is_staff %}
            <!-- Transitions Start-->
            <div class="transition-world-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="transition-world-list shadow-reset">
                                <div class="sparkline7-list">
                                    <div class="sparkline7-hd">
                                        <div class="main-spark7-hd">
                                            <h1>MIKE Creatives <span class="res-ds-n">Mpesa Transactions</span></h1>
                                            <div class="sparkline7-outline-icon">
                                                <span class="sparkline7-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                                <span><i class="fa fa-wrench"></i></span>
                                                <span class="sparkline7-collapse-close"><i class="fa fa-times"></i></span>
                                            </div>
                                        </div>
                                    </div>
                            
                                    <div class="col-lg-12">
                                        <div class="sparkline9-list shadow-reset mg-tb-30">
                                            <div class="sparkline9-hd">
                                                <div class="main-sparkline9-hd">
                                                    <h1>Lipa Na Mpesa</h1>
                                                    <div class="sparkline9-outline-icon">
                                                        <span class="sparkline9-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                                        <span><i class="fa fa-wrench"></i></span>
                                                        <span class="sparkline9-collapse-close"><i class="fa fa-times"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sparkline9-graph dashone-comment">
                                                <div class="datatable-dashv1-list custom-datatable-overright dashtwo-project-list-data">
                                                    <div id="toolbar1">
                                                        <select class="form-control">
                                                            <option value="">Export Basic</option>
                                                            <option value="all">Export All</option>
                                                            <option value="selected">Export Selected</option>
                                                        </select>
                                                    </div>
                                                    <table id="table1" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-resizable="true" data-cookie="true" data-page-size="15" data-page-list="[5, 10, 15, 20, 25]" data-cookie-id-table="saveId" data-show-export="true">
                                                        <thead>
                                                            <tr>
                                                                <th data-field="state" data-checkbox="true"></th>
                                                                <th data-field="CheckoutRequestID">Checkout Request ID</th>
                                                                <th data-field="MerchantRequestID" data-editable="false">Merchant Request ID</th>
                                                                <th data-field="ResultCode" data-editable="false">Result Code</th>
                                                                <th data-field="ResultDesc" data-editable="false">Result Description</th>
                                                                <th data-field="MpesaReceiptNumber" data-editable="false">Mpesa Receipt Number</th>
                                                                <th data-field="TransationDate" data-editable="false">Transaction Date</th>
                                                                <th data-field="Amount" data-editable="false">Amount</th>  
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% if lipa_transactions %}
                                                            {% for trans in lipa_transactions %}
                                                            {% if user.is_staff %}
                                                            <tr>
                                                                <td></td>
                                                                <td>{{trans.CheckoutRequestID}}</td>
                                                                <td>{{trans.MerchantRequestID}}</td>
                                                                <td>{{trans.ResultCode}}</td>
                                                                <td>{{trans.ResultDesc}}</td>
                                                                <td>{{trans.MpesaReceiptNumber}}</td>
                                                                <td>{{trans.TransationDate}}</td> 
                                                                <td>{{trans.Amount}}</td>                                    
                                                                
                                                            </tr>
                                                            
                                                            {% endif %}
                                                            {% endfor %}
                                                            
                                                            {% endif %}
                                                        </tbody>
                                                    </table>
                                                    {% if not users %}
                                                    <div class= "alert alert-primary" role="alert">
                                                        <h2>There are no Transactions to see here</h2>
                                                        
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- Transitions End-->
        </div>
    </div>
    
    <!-- Footer End-->
   {% endblock %}