{% extends 'mike_admin/base_site.html' %} 
{% load thumbnail %}
{% block title %} {{ post.name }} | Mike Creatives {% endblock title %}
{% block breadcrump %}

<li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "mike_admin:testimonials" %}">Testimonials</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">{{post.name}}</span>
      </li>
  {% endblock %}
  {% block m-breadcrump %}
      <li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "mike_admin:testimonials" %}">Testimonials</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">{{post.name}}</span>
      </li>
  {% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="col-md-7 col-sm-12 col-xs-12 col-xl-8 col-lg-8 card mb-4  mt-30 left homeback top">
        <div class="card-body">
            <br />
            {% if user.is_staff %}
            <div class = "row container-fluid">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><a href = "{% url 'mike_admin:update_testimonial' post.id %}"><button class="btn btn-primary">Edit Testimonial</button></a></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><a href = "{% url 'mike_admin:delete_testimonial' post.id %}"><button class="btn btn-danger">Delete Testimonial</button></a></div>
            </div>
            <hr />
            {% endif%}
            
            <br />
            <div class="row">
                <div class="row col-md-4">
                    <div class="col-md-10">
                        {% if post.picture %}
                            <img  class="border-radius" src="{% thumbnail post.picture 500x600 crop%}" alt="testimonial image">
                        {% endif%}
                        <br />
                    </div>                
                    <br />
                </div>
                <div class="income-dashone-pro col-md-8 border-radius">
                    <h1>{{post.name}}</h1> 
                    <p class=" text-muted">Added On | {{ post.date_added }}</p>  
                    <hr />         
                    <div class="income-range low-value-cl">
                        {{ post.content | safe }}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <br />

            
        </div>
        </div>
    </div>
 </div> 
 <br />

{% endblock content %}
