{% extends '../base.html' %}
{% load static %}      
            {% block title %} Login | Mike Creatives Portal {% endblock%}
            {% block content %}
            <div class="login-form-area mg-t-30 mg-b-40" style="align-self: center;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <form id="adminpro-form" class="adminpro-form" method="POST" action ="{% url "mike_admin:login" %}">
                            {% csrf_token %}
                            <div class="col-lg-6">
                                <div class="login-bg">
                                    <!-- <div class="row">
                                        <div class="col-lg-12">
                                            <div class="logo">
                                                <a href="/">
                                                    <h1 style="font-family: verdena; text-transform:uppercase">Mike 🌧 Creatives</h1>
                                                    <img src="{% static "icons/Mike1.png" %}" alt="Mike creatives logo"  width="300"/>
                                                </a>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- <hr /> -->
                                    <!-- <div class="row">
                                        <div class="col-lg-12">
                                            <div class="login-title">
                                                <h1 style="font-size: 3rem"><b>Login</b></h1>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12 col-xs-6 d-flex justify-content-center">
                                            <br />
                                            <div class="align-middle" style="text-align: center;">
                                                <h1 class="align-middle" style="font-size: 3rem"><b class="align-middle">Login</b></h1>
                                            </div>
                                            
                                        <hr style="border: 0.2rem #ccc solid;"/>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-xs-6 align-middle" style="align-items:center; justify-content:center">
                                            <a href="/"><img src="{% static "icons/original.png" %}" style="border-radius: 50%; box-shadow:1.0px 0.1rem 0.7rem 0.2rem #000" alt="Mike creatives logo"  width="300"/></a>
                                               
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="login-input-head">
                                                        <p> {{form.username.label_tag}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="login-input-area">
                                                        {{form.username}}
                                                        <i class="fa fa-user login-user" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="login-input-head">
                                                        <p>{{form.password.label_tag}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="login-input-area">
                                                        {{form.password}}
                                                        <i class="fa fa-lock login-user"></i>
                                                    </div>
                                                    {% if form.errors %}
                                                    <div class="row">
                                                        <em class="invalid">Your Password and username didn't match</em>
                                                    </div>
                                                    {% endif %}
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="forgot-password">
                                                                <a href="{% url 'mike_admin:password_reset' %}">Forgot password?</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">

                                                </div>
                                                <div class="col-lg-8">
                                                    <div class="login-button-pro">
                                                        <a href = "{% url "mike_admin:django_registration_register" %}"  class="login-button login-button-rg">Register</a>
                                                        <button type="submit" class="login-button login-button-lg">Log in</button>
                                                        <input type="hidden" name="next" value="{{ next }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-lg-3"></div>
                    </div>
                </div>
            </div>
            <!-- login End-->
          
    {% endblock %}
   
  