{% extends '../base_site.html' %}
{% load static %}      
            {% block title %} Password Change Successful | Mike Creatives Portal {% endblock%}
            {% block title %} Change Password | Mike Creatives Portal {% endblock%}
            {% block breadcrump %}
                <li><a href="/account/">Home</a> <span class="bread-slash">/</span>
                </li>
                <li><a href="{% url 'mike_admin:profile' %}">Profile</a> <span class="bread-slash">/</span>
                </li>
                <li><span class="bread-blod">Password Change Done</span>
                </li>
            {% endblock %}
            {% block m-breadcrump %}
                <li><a href="/account/">Home</a> <span class="bread-slash">/</span>
                </li>
                <li><a href="{% url 'mike_admin:profile' %}">Profile</a> <span class="bread-slash">/</span>
                </li>
                <li><span class="bread-blod">Password Change Done</span>
                </li>
            {% endblock %}
            {% block content %}
            <div class = "alert align-center alert-success">
                <h4>Your Password was Successfully changed</h4>
            </div>
            <!-- login End-->
    {% endblock %}
   
  