{% extends 'mike_admin/base_site.html' %} 
{% load crispy_forms_tags %}
{% block title %} Confirm Deletion of staff{% endblock %}
{% block breadcrump %}
<li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "mike_admin:staffs" %}">Staffs</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">Confirm</span>
      </li>
  {% endblock %}
  {% block m-breadcrump %}
      <li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "mike_admin:staffs" %}">Staffs</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">Confirm</span>
      </li>
  {% endblock %}
{% block content %}
<div class="container">
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 card mb-4  mt-3 left top">
               
                  {% if post %}
                <div class="alert alert-danger border-radius" role="alert">
                   <h3>Are you sure you want to delete this staff member:</h3>
                   <hr />
                   <h4>{{post.name}}</h4>
                   <hr />
                   <p>Once deleted you will not be able to undo the process</p>
                  </div>
                  <br />
                  {% endif %}

                <div class = "card-body"> 
                   
                </div>
            </div>
        </div>
        <div class="login-button-pro">
           <button type="submit" class="login-button login-button-lg"> Delete Staff </button> 
          </div>
          
    </form>
</div>

{% endblock content %}
