{% extends 'mike_admin/base_site.html' %} 
{% load crispy_forms_tags %}
{% block title %} Delete Staff Member{% endblock %}
{% block breadcrump %}
<li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "mike_admin:staffs" %}">Staffs</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">Delete Staff</span>
      </li>
  {% endblock %}
  {% block m-breadcrump %}
      <li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "mike_admin:staffs" %}">Staffs</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">Delete Staff</span>
      </li>
  {% endblock %}
{% block content %}
<div class="container">
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 card mb-4 border-radius mt-3 left  top">
                
                  {% if message %}
                    <div class="alert alert-success alert-st-one" role="alert">
                        <span class="adminpro-icon adminpro-checked-pro admin-check-pro"></span>
                        <p class="message-mg-rt"><strong>Well done!</strong>{{message}}</p>
                    </div>                    
                  <br />
                  {% endif %}

                  {% if error %}
                    <div class="alert alert-danger alert-mg-b alert-st-four" role="alert">
                        <span class="adminpro-icon adminpro-danger-error admin-check-pro"></span>
                        <p class="message-mg-rt"><strong>Oh snap!</strong> {{error}}.</p>
                    </div>                  
                    <br />
                    {% endif %}

                <div class = "card-body"> 
                    {% if not form.is_bound%}
                     <h1>Create A New Staff Member</h1> 
                    {% endif %}
                                  
                {{form | crispy}}
                </div>
            </div>
        </div>
        <div class="login-button-pro">
           <button type="submit" class="login-button login-button-lg"> </button> 
          </div>
          
    </form>
</div>

{% endblock content %}
