{% extends 'mike_admin/base_site.html' %} 
{% load thumbnail %}
{% block title %} {{ post.title }} | Mike Creatives {% endblock title %}
{% block breadcrump %}

<li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "mike_admin:staffs" %}">Staffs</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">{{post.name}}</span>
      </li>
  {% endblock %}
  {% block m-breadcrump %}
      <li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "mike_admin:staffs" %}">Staffs</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">{{post.name}}</span>
      </li>
  {% endblock %}
{% block content %}

<div class="container">
    <div class="col-md-9 card mb-6  mt-3">
      <div class="card-body white">
        <div class="income-dashone-pro">
            {% ifequal user post.author %}
            <div class="row">
                <div class = "col-md-6">
                    <a href = "{% url 'mike_admin:update_staff' post.id %}"><button class="btn btn-primary">Edit Staff</button></a>     
                </div>
                <div class="col-md-6">
                    <a href = "{% url 'mike_admin:delete_staff' post.id %}"><button class="btn btn-danger">Delete Staff</button></a> 
                </div>
            </div>               
                
            {% endifequal%}
            <h1>{{post.title}}</h1>  
            <div class="clear"></div>
        </div>
        <div>
            {% if post.picture %}
                <img src='{% thumbnail post.picture 850x400 crop %}' alt = "post image" />
            {% endif%}
        </div>
        <p class=" text-muted">{{ post.rank }} | {{ post.role }}</p>
        <div class="income-dashone-pro">
            <h1>{{post.name}}</h1>                
            <div class="income-range low-value-cl">
                {{ post.content | safe }}
            </div>
            <div class="clear"></div>
        </div>
        
      </div>
    </div>
</div>
{% endblock content %}
