{% extends 'mike_admin/base_site.html' %} 
{% load thumbnail %}
{% block title %} {{ post.name }} | Mike Creatives {% endblock title %}
{% block breadcrump %}

<li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "mike_admin:staffs" %}">Staffs</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">{{post.name}}</span>
      </li>
  {% endblock %}
  {% block m-breadcrump %}
      <li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "mike_admin:staffs" %}">Staffs</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">{{post.name}}</span>
      </li>
  {% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="col-md-7 col-sm-12 col-xs-12 col-xl-8 col-lg-8 card mb-4  mt-30 left homeback top">
            <div class="card-body">
                    <br />
                    {% if user.is_staff %}
                    <div class="row">
                        <div class = "col-md-6">
                            <a href = "{% url 'mike_admin:update_staff' post.id %}"><button class="btn btn-primary btn-sm">Edit Staff</button></a>     
                        </div>
                        <div class="col-md-6">
                            <a href = "{% url 'mike_admin:delete_staff' post.id %}"><button class="btn btn-danger btn-sm">Delete Staff</button></a> 
                        </div>
                        <hr />
                    </div>
                    {% endif%}
               <div class="row" style="padding: 0 1rem 1rem 0;">
                    <div class="col-md-4">
                        {% if post.picture %}
                            <img  class="border-radius" src="{% thumbnail post.picture 500x600 crop%}" alt="testimonial image">
                            <br />
                        {% endif%}
                    </div>  
                    <div class="income-dashone-pro border-radius col-md-8">
                        <h1><strong>{{post.name}}</h1></strong> 
                        <p class=" text-muted">{{ post.rank }} | {{ post.role }}</p>
                        <hr />
                                      
                        <div class="income-range low-value-cl">
                            {{ post.content | safe }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
{% endblock content %}
