{% extends 'mike_admin/base_site.html' %} 
{% load crispy_forms_tags %}
{% block title %} Create a New Post{% endblock %}
{% block breadcrump %}
<li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "article:post" %}">Blogs</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">Create</span>
      </li>
  {% endblock %}
  {% block m-breadcrump %}
      <li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "article:post" %}">Blogs</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">Create</span>
      </li>
  {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="container-fluid align-center" >
        <form method='POST' enctype="multipart/form-data" id="upload">
            {% csrf_token %}
            <div class="row" >
                <div class="col-md-7 col-sm-12 col-xs-12 col-xl-8 col-lg-8 card mb-4  mt-30 left homeback top" >
                   <br />
                    {% if form.is_bound %}
                    {% if slug != None%}
                    <br />
                    <div class="alert alert-success alert-st-one" role="alert">
                        <span class="adminpro-icon adminpro-checked-pro admin-check-pro"></span>
                        <p class="message-mg-rt"><strong>Well done!</strong>Your post was successfully created</p>
                    </div>   
                    <hr/>

                    <div class="row">                                            
                            <a class="col-md-5 mb-4" href="{% url 'article:update_post' slug %}"><button type="button" class="btn btn-primary btn-sm">Edit Post</button></a>
                            <a class="col-md-5 mb-4" href="{% url 'article:delete_post' slug %}"><button type="button" class="btn btn-danger btn-sm">Delete Post</button></a>
                    </div>
                    <br />
                    {% endif %}
                    {% endif %}
                    
                    {% if error %}
                        <div class="alert alert-danger alert-mg-b alert-st-four" role="alert">
                            <span class="adminpro-icon adminpro-danger-error admin-check-pro"></span>
                            <p class="message-mg-rt"><strong>Oh snap!</strong> {{error}}</p>
                        </div>                    
                    <br />
                    {% endif %}

                    <div class = "card-body"> 
                        <h1 class = "center"><strong>Create A New Post</strong></h1>
                        <hr />
                        <br /> 
                        {{form.media}}                                   
                    {{form | crispy}}
                    </div>

                    <div class="login-button-pro">
                        <button type="submit" class="login-button login-button-lg"> Create Post </button>
                    </div>
                </div>
            
            </div>
            
            
        </form>
    </div>
</div>
<br />

{% endblock content %}
