{% extends 'mike_admin/base_site.html' %} 
{% block title %} {{ post.title }} | Mike Creatives {% endblock title %}
{% block breadcrump %}

<li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "article:post" %}">Blogs</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">{{post.title}}</span>
      </li>
  {% endblock %}
  {% block m-breadcrump %}
      <li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "article:post" %}">Blogs</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">{{post.title}}</span>
      </li>
  {% endblock %}
{% block content %}

<div class="container ">
  <div class="row">
    <div class="col-md-9 card mb-4  mt-3 left  top">
      <div class="card-body white">
        <h1></h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <div class="income-dashone-pro">
            <h1>{{post.title}}</h1>                
            <div class="income-range low-value-cl">
                {{ post.content | safe }}
            </div>
            <div class="clear"></div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<div class="col-md-9 card mb-4  mt-3 ">
    <div class="card-body">
      <!-- comments -->
      <div class='col-lg-10'>
        <em style="padding:1rem; background-color:None; color: #001010;">{{ comments.count }} {% ifequal comments.count 1%}Comment {%else%} Comments{% endifequal %}</em>
      </div>
      <div class = 'col-md-8'>           
         <h2 class="text-center"><strong>Comments</strong></h2> 
      </div>
      <div class="col-md-8 income-dashone-total">
        {% for comment in comments %}
        <div class="card col-lg">
            <div class="card-body">
                <div class="income-title">
                    <div class="main-income-head">
                        <h4>{{ comment.name }}</h4>
                        <div class="income-rate-total">
                            <div class="price-adminpro-rate">
                                <p class="card-text text-muted h6">{{ comment.created_on}} </p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="income-dashone-pro">
                    
                    <div class="income-range low-value-cl">
                        <p class="card-text">{{comment.body| linebreaks | safe }}</p>
                    </div>
                    <div class="clear"></div>
                </div>
                
            </div>
        </div>
        <br />
        {% endfor %}
    </div>

    </div>
  </div>
  <div class="col-md-8 card mb-4  mt-3 ">
    <div class="card-body">
      {% if new_comment %}
      <div class="alert alert-success" role="alert">
        Your comment is awaiting moderation
      </div>
      {% else %}
      <form id="adminpro-form" class="adminpro-form" method="POST" style="margin-top: 1.3em;">
        {% csrf_token %}
        <div class="col-lg-8">
            <div class="login-bg">
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="login-title">
                            <h1 style="font-size: 3rem"><b>Leave a comment</b></h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="login-input-head">
                            <p><strong>Full Name:</strong></p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="login-input-area">
                            {{comment_form.name}}
                            <i class="fa fa-user login-user" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="login-input-head">
                            <p>{{comment_form.email.label_tag}}</p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="login-input-area">
                            {{comment_form.email}}
                            <i class="fa fa-envelope login-user"></i>
                        </div> 
                    </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                      <div class="login-input-head">
                          <h4><Strong>Comment:</Strong></h4>
                      </div>
                  </div>
                  <div class="col-lg-9">
                      <div class="input-group-text">
                          {{comment_form.body}}
                      </div>
                      {% if form.errors %}
                      <div class="row">
                          <em class="invalid">Please write us a message</em>
                      </div>
                      {% endif %}
                      
                  </div>
              </div>
        <!-- {{ comment_form.as_p }} -->
        <div class="login-button-pro">
          <button type="submit" class="login-button login-button-lg">Send Comment</button> 
        </div>
        
        <!-- <button type="submit" class="btn btn-primary  btn-lg">Submit</button> -->
      </form>
      {% endif %}
    </div>
  </div>
</div>
</div>

{% endblock content %}
