{% extends 'mike_admin/base_site.html' %} 
{% load crispy_forms_tags %}
{% block title %} Edit {{name}} | Mike creatives{% endblock %}
{% block breadcrump %}
<li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{{breadcrum.url}}">{{breadcrum.name}}</a><span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">Edit</span>
      </li>
  {% endblock %}
  {% block m-breadcrump %}
      <li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{{breadcrum.url}}">{{breadcrum.name}}</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">Edit</span>
      </li>
  {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="container-fluid">
        <iframe name="form-submit" src="" style="display:none; opacity:0; visibility: hidden"></iframe>
        <form method='POST' enctype="multipart/form-data" action="{{url}}" id="ajax-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12 col-xl-8 col-lg-8 card mb-4  mt-30 left homeback top">
                    
                    <div class="row" style="margin:2rem auto">   
                        <a class="col-md-5 mb-4 center" href="{{create_url}}"><button type="button" class="btn btn-primary">Create New</button></a>
                        <a class="col-md-5 mb-4 center" href="{{delete_url}}"><button type="button" class="btn btn-danger">Delete</button></a>
                    </div>
                    
                    <hr />
                    <div class = "card-body"> 
                        <h1 class="center"><strong>Update {{name}}</strong></h1> 
                    <hr />      
                    {{form | crispy}}
                    </div>
                    <div id="progress-home"></div>
                    <div class="status"></div>
                    <div class=" ajax-form" style="margin:2rem auto">        
                        <div id="sendmessage"></div>
                        <div id="errormessage"></div>
                    </div>       
                    <div class="login-button-pro">
                        <button type="submit" class="login-button login-button-lg" id="submit-button"> Update </button> 
                    </div>
                        
                </div>
            </div>
        </form>
    </div>
</div>
<br />
{% endblock content %}
