{% extends 'mike_admin/base_site.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Lipa Na Mpesa | Mike Creatives Portal {% endblock%}
            {% block breadcrump %}
          <li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
                </li>
                <li><span class="bread-blod">Lipa Na Mpesa</span>
                </li>
            {% endblock %}
            {% block m-breadcrump %}
                <li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
                </li>
                <li><span class="bread-blod">Lipa Na Mpesa</span>
                </li>
            {% endblock %}
{% block content %}
    
{% block cssblock %}
<link href="{% static 'home/js/build/css/intlTelInput.css' %}" rel="stylesheet">
<link href="{% static 'home/js/build/css/demo.css' %}" rel="stylesheet">
<link href="{% static 'home/js/build/isValidNumber.css' %}" rel = "stylesheet">
{% endblock %}
<!-- <input type="tel" id="phone" name="phone"> -->
    <div class="login-form-area mg-t-30 mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3"></div>
                <form id="adminpro-register-form" class="adminpro-form" novalidate="novalidate" method='POST' enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-lg-6">
                        <div class="login-bg border-radius">
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="login-title">
                                        <h1><strong>Lipa Na Mpesa Paybill</strong></h1>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                            <div>
                                {% if message %}
                                <div class="alert alert-success alert-success-style1">
                                    <button type="button" class="close sucess-op" data-dismiss="alert" aria-label="Close">
                                        <span class="icon-sc-cl" aria-hidden="true">×</span>
                                    </button>
                                    <span class="adminpro-icon adminpro-checked-pro admin-check-sucess"></span>
                                    <p><strong>Success! </strong>{{message}}</p>
                                </div>
                                {% endif %}
                                {% if error %}
                                <div class="alert alert-danger alert-mg-b alert-st-four" role="alert">
                                    <button type="button" class="close sucess-op" data-dismiss="alert" aria-label="Close">
                                        <span class="icon-sc-cl" aria-hidden="true">×</span>
                                    </button>
                                    <span class="adminpro-icon adminpro-danger-error admin-check-pro"></span>
                                    <p class="message-mg-rt"><strong>Oh snap!</strong> {{error}}</p>
                                </div>
                                
                                <br />
                                {% endif %}
                            </div>
                            <ol class="list-group">
                                <li class="list-group-item"><strong style="color:blue;">1.  </strong>Select <strong>"Pay bill"</strong> from your Safaricom MPesa Menu.</li>
                                <li class="list-group-item"><strong style="color:blue;">2.  </strong>Select <strong>"Enter Business Number"</strong>.</li>
                                <li class="list-group-item"><strong style="color:blue;">3.  </strong>Enter MIKE Creative's Business Number: <strong style="color:red">{{paybill}}</strong>.</li>
                                <li class="list-group-item"><strong style="color:blue;">4.  </strong>Select <strong>"Enter Account Number"</strong>.</li>
                                <li class="list-group-item"><strong style="color:blue;">5.  </strong>Enter Account Number as: <strong style="color:red">{{account}}</strong>.</li>                                
                                <li class="list-group-item"><strong style="color:blue;">6.  </strong>Enter Amount - <strong style="color:red">Ksh: {{service.pricing}}</strong>.</li>
                                <li class="list-group-item"><strong style="color:blue;">7.  </strong>Press <strong>"OK"</strong> Only when you are sure of all the details You entered.</li>                                
                                <li class="list-group-item" style="text-align: center;"> <strong style="color:#ff4933; text-transform:uppercase; text-align:center">Enter the transaction ID on the form below:</strong></li>                                
                            </ol>
                     
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="login-input-head">
                                        <p><strong style="font-weight: 700; text-transform:uppercase">Transaction ID:</strong></p>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="login-input-area register-mg-rt">
                                                <input type="text" id="trans" name="trans">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                           
                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8">
                                    <div class="login-button-pro">
                                        <button type="submit" class="login-button login-button-lg">Confirm Payment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>

  {% endblock %}