{% extends 'mike_admin/base_site.html' %} 
{% load crispy_forms_tags %}
{% block title %} Create a New Music | Mike Creatives{% endblock %}
{% block breadcrump %}
<li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "mike_admin:music" %}">Musics</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">Create</span>
      </li>
  {% endblock %}
  {% block m-breadcrump %}
      <li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "mike_admin:music" %}">Music</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">Create</span>
      </li>
  {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="container-fluid">
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12 col-xl-8 col-lg-8 card mb-4  mt-30 left homeback top">
                    <br />
                    {% if form.is_bound %}
                    {% if id != None%}
                    <br />
                    <div class="alert alert-success alert-st-one" role="alert">
                        <span class="adminpro-icon adminpro-checked-pro admin-check-pro"></span>
                        <p class="message-mg-rt"><strong>Well done!</strong>The Music was successfully created</p>
                    </div>   
                    <div class="row">                                            
                            <a class="col-md-5 mb-4" href="{% url 'mike_admin:update_music' id %}"><button type="button" class="btn btn-primary btn-sm">Edit Music</button></a>
                            <a class="col-md-5 mb-4" href="{% url 'mike_admin:delete_music' id %}"><button type="button" class="btn btn-danger btn-sm">Delete Music</button></a>
                    </div>
                    <br />
                    {% endif %}
                    {% endif %}
                       
                    {% if error %}
                        <div class="alert alert-danger alert-mg-b alert-st-four" role="alert">
                            <span class="adminpro-icon adminpro-danger-error admin-check-pro"></span>
                            <p class="message-mg-rt"><strong>Oh snap!</strong> {{error}}</p>
                        </div>                    
                    <br />
                    {% endif %}
                    <div class = "card-body"> 
                        {% if not form.is_bound%}
                        <h1 class="center"><strong>Create A New Music</strong></h1> 
                        {% endif %} 
                        <hr />                                 
                    {{form | crispy}}
                    </div>
                    {% if form %}
                        <div class="login-button-pro">
                            <button type="submit" class="login-button login-button-lg"> Create Music </button>
                        </div>
                    {% else %}
                        <p>You  cannot upload unless you have payed for a service</p>
                    {% endif %}
                </div>
            </div>
            
            
        </form>
    </div>
</div>
<br />

{% endblock content %}
