{% extends 'mike_admin/base_site.html' %} 
{% load thumbnail %}
{% block title %} {{ post.title }} | Mike Creatives {% endblock title %}
{% block breadcrump %}

<li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "mike_admin:music" %}">Musics</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">{{post.title}}</span>
      </li>
  {% endblock %}
  {% block m-breadcrump %}
      <li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "mike_admin:music" %}">Musics</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">{{post.title}}</span>
      </li>
  {% endblock %}
{% block content %}
{% if user.is_staff or user == post.artist %}
<div class="container-fluid">
    <div class="col-md-12 card mb-10  mt-6">
      <div class="card-body white">
        <div class="income-dashone-">
            {% if user.is_staff or user == post.artist%}
            <div class = "row">
                <a class="col-md-6 col-lg-6 col-sm-6 col-xl-6 col-xs-6" href = "{% url 'mike_admin:update_music' post.id %}"><button class="btn btn-primary btn-sm">Edit Music</button></a>
                <a class="col-md-6 col-lg-6 col-sm-6 col-xl-6 col-xs-6" href = "{% url 'mike_admin:delete_music' post.id %}"><button class="btn btn-danger btn-sm">Delete Music</button></a>
            </div>
            {% endif%}
            <br />
            
        </div>
        <div class= "col-md-12 col-sm-12 col-xs-12 col-xl-12 col-lg-12 card mb-4  mt-30 left homeback top">
            <br />
            <div class="row">
                
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    
                    <h1 class="white-title">{{post.title}}</h1>  
                    <div class="clear"></div>
                </div>
                <div class="col-md-2"></div>
            
            </div>
            <hr /> 
            <div class="row container-fluid">
                <div class = 'col-md-6'>
                    <br />
                    <a href="{{post.picture.url}}" target="_blank"><img class="box-my" src="{% thumbnail post.picture 400x250 crop %}" alt="post picture" style="padding-bottom: 2rem;"></a>
                </div>
                <div class="income-dashone-pro col-md-6 box-my" >
                    <div>
                        <h1>{{post.title}}</h1> 
                        <hr /> 
                        <p class=" text-muted">{{ post.artist.first_name }} {{post.artist.last_name}} | {{ post.date_added }}</p> 
                    
                    </div>
                    <a class="btn btn-primary" href="{{post.music.url}}">Download    <i style="color:#ce2920" class="fa fa-download"></i></a> <span>{{post.music.name}}</span>
                    <div class = "card">
                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">Purpose</th>
                                <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>For BoomPlay</td>
                                    <td><p>{% if post.is_boompay %}<i style="font-size: 2rem; color:green;" class="fa fa-check"></i> {% else %}
                                        <i class="fa fa-times" style="font-size: 2rem; color:red;"></i>{% endif %}</p> </td>
                                </tr>
                                <tr>
                                    <td>For Skiza</td>
                                    <td><p>{% if post.is_skiza %}<i style="font-size: 2rem; color:green;" class="fa fa-check"></i> {% else %}
                                    <i class="fa fa-times" style="font-size: 2rem; color:red;"></i>{% endif %}</p> </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    {% if post.is_sent %}
                    <div class="row">
                        <div class="col-md-6"><strong>State:</strong></div>
                        <div class="col-md-6"><button class ="btn  btn-info">Sent</button></div>
                    </div>
                        
                        {% if user.is_staff %}
                        <br />
                        <form method = "POST">
                            {% csrf_token %}
                            <div class="md-form">
                                <label for="skiza">Enter the Skiza Code</label>
                                <input type="text" class="form-control" id="skiza" placeholder="{{post.skiza_code}}" name="skiza"/>
                            
                            </div>
                            <br />
                            <button class = "btn btn-primary">Add Skiza</button>
                        </form>
                        {% endif %} 
                    {% elif user.is_staff %}  
                        <form method = "POST">
                            {% csrf_token %}
                            <div class="md-form">
                                <input type="text" class="form-control" id="skiza" placeholder="{{post.skiza_code}}" name="skiza"/>
                                <label for="skiza">Enter the Skiza Code</label>
                            </div>
                            <button class = "btn btn-success">Mark as Sent</button>
                        </form> 
                    {% else %}
                    <div class="col-md-6"><strong>State:</strong></div>
                    <div class="col-md-6"><button class ="btn  btn-warning">Pending...</button></div>
                    {% endif %}  
                    <br />         
                    <div class="income-range low-value-cl">
                        {{ post.description | safe }}
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <br />
          </div>
        
      </div>
    </div> 
</div>  
{% endif %}
<br />
<br />
{% endblock content %}
