{% extends '../base_site.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}  Mike Creatives Portal {% endblock%}
            {% block breadcrump %}
          <li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
                </li>
                <li><span class="bread-blod">Profile</span>
                </li>
            {% endblock %}
            {% block m-breadcrump %}
                <li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
                </li>
                <li><span class="bread-blod">Profile</span>
                </li>
            {% endblock %}
{% block content %}
            <div class="user-profile-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="user-profile-wrap border-radius shadow-reset">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="user-profile-img">
                                                    <img {% if user.avatar %} src="{{ user.avatar | thumbnail_url:'avatar' }}" {%else%} src="{% static 'mike_admin/img/notification/5.jpg' %}" {% endif %} alt="Profile picture" />
                                                </div>
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="user-profile-content">
                                                    
                                                    <p class="alert alert-warning">{% if profile.full_name %} {{profile.name}} {% else %} Please complete your profile <em class="text-primary">{{profile.username}}</em> {% endif %}</p>
                                                    <p class="profile-founder">{{profile.email}}
                                                    </p>
                                                    <h3 class="profile-des">{% if profile.is_superuser %} Super User {% elif profile.is_staff %} Staff Member {% else %} user {% endif %}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="user-profile-social-list">
                                            <table class="table small m-b-xs">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <strong>{{music_number}} </strong> <em>Uploaded Music content</em>
                                                        </td>
                                                        <td>
                                                            <strong>{{boomplay}} </strong> <em>Content on boomplay</em>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        {% if user.is_staff %}
                                                       
                                                        <td>
                                                            <strong>{{article.count}} </strong><em>Articles</em>
                                                        </td>
                                                        {% endif %}
                                                        <td>
                                                            <strong>{{skiza}} </strong><em>Generated Skiza Code</em>
                                                        </td>
                                                    </tr>
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <!-- <div class="analytics-sparkle-line user-profile-sparkline">
                                            <div class="analytics-content">
                                                <h5>Visits in last 24h</h5>
                                                <h2 class="counter">498009</h2>
                                                <div id="sparkline22"></div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-profile-activity-area mg-b-40 mg-t-30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="user-profile-about border-radius shadow-reset">
                                <h2>About {% if profile.full_name %} {{profile.name}} {% else %} {{profile.username}} {% endif %} </h2>
                                <p>{% if user.information %}{{user.information}} {% else %} No extra information {% endif %}</p>
                                <div class="button-style-four btn-mg-b-10">
                                    <!-- <button type="button" class="btn btn-custon-four btn-default">Default</button> -->
                                    <a href="{% url 'mike_admin:update_profile' %}">
                                        <button type="button" class="btn btn-custon-four btn-primary">Update Your Profile</button>
                                    </a>                                    
                                    <!-- <button type="button" class="btn btn-custon-four btn-danger">Danger</button> -->
                                </div>
                                <br />
                                <div class="button-style-four btn-mg-b-10">                                   
                                    <!-- <button type="button" class="btn btn-custon-four btn-success">Success</button> -->
                                    <a href="" style="margin-top:25px">
                                        <button type="button" class="btn btn-custon-four btn-warning">Change Password</button>
                                    </a>
                                    <!-- <button type="button" class="btn btn-custon-four btn-danger">Danger</button> -->
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-lg-9">
                                <div class="sparkline9-list shadow-reset border-radius">
                                    <div class="sparkline9-hd">
                                        <div class="main-sparkline9-hd">
                                            <h1>Paid Services</h1>
                                            <div class="sparkline9-outline-icon">
                                                <span class="sparkline9-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                                <span><i class="fa fa-wrench"></i></span>
                                                <span class="sparkline9-collapse-close"><i class="fa fa-times"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sparkline9-graph dashone-comment">
                                        <div class="datatable-dashv1-list custom-datatable-overright dashtwo-project-list-data">
                                            <div id="toolbar1">
                                                <select class="form-control">
                                                    <option value="">Export Basic</option>
                                                    <option value="all">Export All</option>
                                                    <option value="selected">Export Selected</option>
                                                </select>
                                            </div>
                                            <table id="table1" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-resizable="true" data-cookie="true" data-page-size="15" data-page-list="[5, 10, 15, 20, 25]" data-cookie-id-table="saveId" data-show-export="true">
                                                <thead>
                                                    <tr>
                                                        <th data-field="state" data-checkbox="true"></th>
                                                        <th data-field="CheckoutRequestID">Transaction ID</th>
                                                        <th data-field="ResultCode" data-editable="false">Result Code</th>
                                                        <th data-field="Service" data-editable="false">Service</th>                                                        
                                                        <th data-field="Amount" data-editable="false">Amount</th>
                                                        <th data-field="description" data-editable="false">Description</th>                                                        
                                                        <th data-field="mode" data-editable="false">Mode of Payment</th>                                                        
                                                        <th data-field="TransationDate" data-editable="false">Transaction Date</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if transactions %}
                                                    {% for trans in transactions %}
                                                    <tr>
                                                        <td></td>
                                                        <td>{{trans.CheckoutRequestID}}</td>
                                                        <td>{{trans.ResultCode}}</td>
                                                        <td>{{trans.service}}</td>
                                                        <td>{{trans.service.pricing}}</td>
                                                        <td>{{trans.ResultDescription}}</td>
                                                        <td>{{trans.mode}}</td>
                                                        <td>{{trans.date_added}}</td>                                     
                                                        
                                                    </tr>
                                                    
                                                    {% endfor %}
                                                    
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                            {% if not transactions %}
                                            <div class= "alert alert-primary" role="alert">
                                                <h2>There are no services that you have subscribed to</h2>
                                                
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                         
                        </div>
                        <div class="col-lg-3">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% endblock %}