{% load static %}
  <header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
                <!-- Brand -->
                <a class="navbar-brand page-scroll sticky-logo" href="/">
                  <!-- <h1><span>MIKE</span>Creatives</h1> -->
                  <!-- Uncomment below if you prefer to use an image logo -->
                  <!-- <img src="{% static 'img/logo.png' %}" alt="" title=""> -->
                  <img src="{% static "icons/mike_admin.png" %}" alt="Mike creatives logo"  width="" title="Mike creatives"/>
								</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active">
                    <a class="page-scroll" href="/">Home</a>
                  </li>
                  
                  <li>
                    <a class="page-scroll" href="/#about">About</a>
                  </li>
                  <!-- <li>
                    <a class="page-scroll" href="/#services">Services</a>
                  </li> -->
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      {% if service_list %}
                      {% for service_single in service_list %}
                        <li><a href="{% url 'pages:services' service_single.slug %}" style="padding:10px 0; border-bottom:1px solid gray">{{service_single.title}}</a></li>
                      {% endfor %}
                      {% else %}
                      <li><a href=# >Youtube</a></li>
                      <li><a href=# >Boomplay</a></li>
                      <li><a href=# >Artist Management</a></li>
                      <li><a href=# >Skiza Code</a></li>
                      {% endif %}
                    </ul> 
                  </li>
                  
                  <li>
                    <a class="page-scroll" href="{% url 'pages:shop' %}" title="Coming Soon...">Shop</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="{% url 'pages:contact' %}">Contact</a>
                  </li>
                  
                  <li>
                    <a class="page-scroll" href="{% url 'pages:articles' %}">Blog</a>
                  </li>
                  
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                        <a class="page-scroll" href="{% url 'mike_admin:login' %}" style="padding:10px 0; border-bottom:1px solid gray">Login</a>
                      </li>
                      <li>
                        <a class="page-scroll" href="{% url 'mike_admin:django_registration_register' %}" style="padding:10px 0; border-bottom:1px solid gray">SignUp</a>
                      </li>
                    </ul> 
                  </li>
                </ul>
              </div>
              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
  </header>
  <!-- header end -->