 {% extends './base.html' %}
 {% load static %}
 {% block  carousel%}
 <!-- Start Slider Area -->
 <div id="home" class="slider-area">
    <div class="bend niceties preview-2">
      <div id="ensign-nivoslider" class="slides">
        <img class="slider-image" src="{% static 'pages/mike/HOME.webp' %}" alt="Mike creatives Slider 1" title="#slider-direction-1"/>
        <img class="slider-image" src="{% static 'pages/mike/home2.webp' %}" alt="Mike creatives Slider 2" title="#slider-direction-2" />
        <img class="slider-image" src="{% static 'pages/mike/artmm.webp' %}" alt="MIke Creatives Slider 3" title="#slider-direction-3" />
      </div>

      <!-- direction 1 -->
      <div id="slider-direction-1" class="slider-direction slider-one">
        <div class="container">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content">
                <!-- layer 1 -->
                <div class="col-xl-8 col-lg-8 col-sm-8 col-xs-12 slider-item-bg1 wow fadeInLeft" data-wow-duration="1s">
                  <div class="layer-1-1 wow fadeInDown" data-wow-duration="2s" data-wow-delay=".2s">
                    <h2 class="title1">Welcome to MIKE Creatives;</h2>
                  </div>
                  <!-- layer 2 -->
                  <div class="layer-1-2 wow fadeInUp" data-wow-duration="3s" data-wow-delay=".1s">
                    <h1 class="title2" id="margin-edit" style="font-size: 4rem; word-spacing:.5rem; "> Made In Kenya Exclusively a Creatives’ Social Enterprise Hub</h1>
                  </div>
                  
                  <!-- layer 3 -->
                  <div class="layer-1-3 wow bounceInUp" data-wow-duration="1.5s" data-wow-delay=".35s">
                    <a class="ready-btn right-btn page-scroll " href="#services">See Services</a>
                    <a class="ready-btn page-scroll" href="{% url 'mike_admin:django_registration_register' %}">Get Started</a>
                  </div>
                </div>
                
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 wow hidden-xs fadeInRight" data-wow-duration="3s" data-wow-delay=".3s">
                  <div class="image">
                    <img id="sdg" src="{% static 'images_africa.webp' %}" alt="Mike creatives africa" width="100%" style="box-shadow:0 .8rem 2rem 1rem rgba(0, 0, 0, .4);border-radius:5px" >
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- direction 2 -->
      <div id="slider-direction-2" class="slider-direction slider-two">
        <div class="container">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content text-center">
                <div class="col-xl-8 col-lg-8 col-sm-8 col-xs-12 slider-item-bg2 wow fadeInLeft" data-wow-duration="1s">
                <!-- layer 1 -->
                  <div class="layer-1-1 wow fadeInDown" data-wow-duration="2s" data-wow-delay=".2s">
                    <h2 class="title1">Artist Growth </h2>
                  </div>
                  <!-- layer 2 -->
                  <div class="layer-1-2 wow fadeInUp" data-wow-duration="3s" data-wow-delay=".1s">
                    <h1 class="title2 " id="margin-edit2" style="font-size: 4rem;" >We provide artists with opportunities for brand and audience growth</h1>
                  </div>
                  <!-- layer 3 -->
                  <div class="layer-1-3 wow bounceInUp" data-wow-duration="1.5s" data-wow-delay=".35s">
                    <a class="ready-btn right-btn page-scroll" href="#services">See Services</a>
                    <a class="ready-btn page-scroll" href="{% url 'mike_admin:django_registration_register' %}">Get Started</a>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 hidden-xs wow fadeInRight" data-wow-duration="3s" data-wow-delay=".3s">
                  <div class="image">
                    <!-- <img id="sdg" src="{% static 'pages/mike/arti.jpg' %}" alt="sdg" style="box-shadow:0 .8rem 2rem 1rem rgba(0, 0, 0, 0);border-radius:5px;" > -->
                    <img id="sdg" src="{% static 'artist_growth.webp' %}" alt="Mike Creatives Artist Growth" style="box-shadow:0 .8rem 2rem 1rem rgba(0, 0, 0, 0);border-radius:5px;" >
                    <img id="sdg" src="{% static 'tease.webp' %}" alt="Mike Creatives tease" style="box-shadow:0 .8rem 2rem 1rem rgba(0, 0, 0, 0);border-radius:5px;" >
                    
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      

      <!-- direction 4 -->
      <div id="slider-direction-3" class="slider-direction slider-two">
        <div class="container">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content-1">
                <!-- layer 1 -->
                <div class="layer-1-1 wow fadeInDown" data-wow-duration="2s">
                  <!-- <h2 class="title1">Sustainable Development Goals </h2> -->                  
                  <div class="image">
                     <img id="sdg" src="{% static 'SDG-Logo.png' %}" alt="Mike Creatives sdg" width="100%">
                  </div>
                </div>
                <!-- layer 2 -->
                <div class="layer-1-2 wow fadeInUp" data-wow-duration="2s" data-wow-delay=".1s">
                  <h1 class="title2">We believe in the gift of Art and the Creative economy as a catalyst for attaining the SDGs in Kenya
                  </h1>
                </div>
                <!-- layer 3 -->
                <!-- <div class="layer-1-3 hidden-xs wow fadeInUp" data-wow-duration="3s" data-wow-delay=".2s">
                  <a class="ready-btn right-btn page-scroll" href="#services">See Services</a>
                  <a class="ready-btn page-scroll" href="#about">Learn More</a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
  <!-- End Slider Area -->
