{% extends './base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}

  <title>{{post.title}} - Articles Mike Creatives</title>  
  <meta content="{{description|truncatewords:50}}" name="description" >
  <meta content="{% for keyword in keywords %}{{keyword}},{% endfor %}" name="keywords"> 
{% endblock %}
{% block meta %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": "{{ post.title}}",
    "image": "{% if post.image %}{{ post.image.url}} {% endif %}",  
    "author": {
      "@type": "Person",
      "name": "{{post.author}}"
    },  
    "publisher": {
      "@type": "Organization",
      "name": "{{site.name}}",
      "logo": {
        "@type": "ImageObject",
        "url": "{% static 'icons/original.png' %}"
      }
    },
    "datePublished": "{{post.created_on}}"
  }
  </script>
  
{% if post %}
  <meta property="og:url"                content="https://mikecreatives.com/articles/{% if post.slug %}{{post.slug}}{% endif %}/" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="{% if post.title %}{{post.title}}{% endif %}" />
  <meta property="og:description"        content="{{description|truncatewords:50 }}" />
  <meta property="og:image"              content="{% if post.image %}{{post.image.url}}{% else%}https://source.unspash.com/random {% endif %}" />
  {% endif %}
{% endblock%}

{% block content %}
  
  <!-- END Header -->
  <div class="blog-page area-padding-1">
    <!-- <div class="home-overly"></div> -->
    <div class="container">
      <div class="row">
        {# {% include './includes/left_side_bar.html' %} #}
        <!-- End left sidebar -->
        <!-- Start single blog -->
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-8 col-sm-10 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <!-- single-blog start -->
              <div class="post-information">
                <div class="section-headline text-center ">
                  <h1 class="service-title">{% if post.title %}{{post.title}}{% else %} Blog Page Title {% endif %}</h1>
                </div>
              </div>
              <article class="blog-post-wrapper">
                <div class="post-thumbnail">
                  <img class="border-radius services-image" src="{% if post.image %} {% thumbnail post.image 750x400 %} {% else %} https://source.unsplash.com/random/750x400 {% endif %} " alt="{{post.title}}"/>
                </div>
                <div class="post-information">
                  
                  <div class="entry-meta">
                    <span class="author-meta"><i class="fa fa-user"></i> <a href="#">{% if post.author %} {{post.author}} {% else %}user{% endif %}</a></span>
                    <span><i class="fa fa-clock-o"></i>{% if post.created_on %} {{post.created_on }} {% else%}march 28, 2016 {% endif %}</span>
                    
                    <span><i class="fa fa-comments-o"></i> <a href="#">{{post.comments.count}} comment{{post.comments.count|pluralize}}</a></span>
                    <span><i class="fa fa-time"></i>{% if post.read_time %} {{post.read_time }}{% endif %} Min Read</span>
											</span>
                    <div style = "margin-left:1rem" class="fb-like" data-href="https://mikecreatives.com/articles/{{post.slug}}/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                  </div>
                  {% if post.content %}
                  <div class = "entry-content">
                    {{post.content | safe}}
                  </div>
                  
                  {% endif %}
                </div>
              </article>
              <div class="clear"></div>
              <div class="single-post-comments">
                <div class="comments-area">
                  <div class="comments-heading">
                    <h3>{{comments.count}} comment{{comments.count|pluralize}}</h3>
                  </div>
                  <div class="comments-list">
                    <ul>
                      {% if comments %}
                      {% for comment in comments %}
                      <li class="threaded-comments">
                        <div class="comments-details">
                          <div class="comments-list-img">
                            <img src="{% static 'pages/img/blog/b02.jpg' %}" alt="post-author">
                          </div>
                          <div class="comments-content-wrap">
                            <span>
																<b><a href="#">{{comment.name}}</a></b>
															
																<span class="post-time">{{comment.created_on.date}} at {{comment.created_on.time}}</span>
                            
                            </span>
                            <p>{{comment.body | linebreaks | safe}}</p>
                          </div>
                        </div>
                      </li>
                      {% endfor %}
                      
                      {% endif %}
                    </ul>
                  </div>
                </div>
                
                <div class="comment-respond">
                  {% if new_comment %}
                    <div class="alert alert-success" role="alert">
                      Your comment is awaiting moderation
                    </div>
                    {% else %}
                    
                  <div class="form contact-form">
                    <div id="sendmessage"></div>
                    <div id="errormessage"></div>
                    <h3 class="comment-reply-title">Leave us a comment </h3>
                    <span class="email-notes">Your email address will not be published. Required fields are marked *</span>
                    
                    <form action="{% url 'pages:article_detail' post.slug %}" method='POST' id='ajaxForm'>
                      {% csrf_token %}
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <p>Full Name <span style="color:red">*</span></p>
                          {{comment_form.name}}
                          <div class="validation"></div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <p>Email <span style="color:red">*</span></p>
                          {{comment_form.email}}
                          <div class="validation"></div>
                        </div>
                        <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                          <p>Website</p>
                          <input type="text" />
                        </div> -->
                        <div class="col-lg-12 col-md-12 col-sm-12 comment-form-comment">
                          <p>Comment</p>
                          {{comment_form.body}}
                          <div class="validation"></div>
                          <!-- <textarea id="message-box" cols="30" rows="10"></textarea> -->
                          <input type="submit" value="Post Comment" />
                        </div>
                      </div>  
                    </form>
                  </div>
                </div>
                {% endif %}
              </div>
             
              <!-- single-blog end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <!-- More sections to apply -->
    {% if post_list %}
    <div class="more-section">
      <div class="container">
        <div class="more-section-title">
          <h5>More From MIKE Creatives</h5>
        </div>
        <div class="more-section-page row">

          {% for post in post_list %}
          <a href="{% url 'pages:article_detail' post.slug %}">
            <div class="more-section-item col-md-3 col-sm-6 col-xs-12">
              <div class="section-author col-md-4 col-sm-4 col-xs-4">
                <img src="{{post.author.avatar | thumbnail_url:'avatar2'}}" alt="{{post.author.avatar.name}}"/>
                <div class="entry-meta">
                  <span class="author-meta"><p>{% if post.author %} {{post.author}} {% else %}user{% endif %}</p></span>
                </div>
              </div>
              <div class="section-text col-md-8 col-sm-8 col-xs-8">
                <h6><a href="{% url 'pages:article_detail' post.slug %}">{{post.title}}</a></h6>
                <div class="entry-meta">
                  <div><i class="fa fa-clock-o"></i>{% if post.created_on %} {{post.created_on.date}} {% else%}march 28, 2016 {% endif %}</div>                
                  <div>{% if post.read_time %} {{post.read_time}} Min Read {% endif %}</div>                
                
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
  {% endblock %}