{% extends './base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}     
  <title>Mike Creatives Blogs- Latest Music Industry News</title>  
  <meta content="Latest news as pertaining to the music industry" name="description" />
  <meta content="Mike, Mike Creatives, Creatives, Music, mp3, musica, youtube music, music downloader, song, mp3 download, 
  music player, blog, mike creatives blog" name="keywords"> 
{% endblock %}
{% block meta %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "name": "Mike Creatives Blog",
    "url": "https://mikecreatives.com/articles/",
    "logo": "{% static 'icons/original.png' %}",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://mikecreatives.com/articles?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
  </script>

  <meta property="og:url"           content="https://mikecreatives.com/articles/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Articles Mike Creatives - The Home Of Kenyan Brands" />
  <meta property="og:description"   content="Latest news as pertaining to the music industry" />
  <meta property="og:image"         content="{% static 'icons/original.png' %}" />

{% endblock %}
{% load static %}
{% block content %}
  <!-- Start Bottom Header -->
  <div class="header-bg page-area">
    <div class="home-overly"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="slider-content text-center header-bottom-background">
            <div class="header-bottom">
              <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                <h1 class="title2">MIKE Creatives Blog</h1>
              </div>
              <div class="row">
                <div class="col-md-3 col-sm-2"></div>
                <div class="col-md-6 col-sm-8 text-center layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                  <form action="" method = "get">
                    <div class="search-option">
                      <input type="text" name="q" placeholder="Search...">
                      <button class="button" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    </div>
                  </form>
                </div>
                <div class="col-md-3 col-sm-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="blog-page area-padding">
    <div class="container">
      <div class="row">
        <h2 class="blog-page-head">Trending Posts</h2>
        <hr>
      </div>
        <!-- End left sidebar -->
        <!-- Start single blog -->
        <div class = "row">

          <div class="col-md-12 col-sm-12 col-xs-12 blog-content-home">
            {% if trending %}
            <div class="blog-content">
              {% for post in trending %}
              <div class="col-md-4 col-sm-6 col-xs-12 new-single-blog ">
                <div class="text-count col-sm-2 col-md-2 col-xs-2">
                  <p>0{{forloop.counter}}</p>
                </div>
                <div class="blog-content-container col-sm-10 col-md-10 col-xs-10 row">
                  <div class="content-inside">
                    <a href="{% url 'pages:article_detail'  post.slug %}">
                      <div class="blog-user-meta">
                        <img {% if post.author.avatar %} src="{{post.author.avatar.url}}" alt="{{post.author}}" {% endif %}>
                        <h6>{{post.author | title}}</h6>
                      </div>
                      <div class="blog-header-1">
                        <h3>{{post.title | title | truncatewords:15}}</h3>
                      </div>
                      <div class="blog-meta-1">
                        <span class="date">{{post.created_on.date |date:'M j'}}</span>
                        <span class = "separator"><p>.</p></span>
                        <span class="read-time">{{post.read_time}} Min Read</span>
                      </div>
                    </a>
                    <p class="text"></p>
                  </div>
                  
                </div>
              </div>
              {% endfor %}
            </div>
            {%endif %}
          </div>
          
          <div class="clearfix"></div>
          <!-- Added the hr line -->
          <div class="trending-border"> </div> 
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
              {% if post_list %}
              <div class="blog-content-fluid">
                {% for post in post_list %}
                <div class="col-md-7 col-sm-9 col-xs-12">
                  <div class="new-single-blog-item">                   
                    
                    <div class = "single-main-blog col-md-9 col-sm-9 col-xs-12">
                      <div class="blog-user-meta">
                        <img {% if post.author.avatar %} src="{{post.author.avatar.url}}" alt="{{post.author}}" {% endif %}>
                        <h6>{{post.author | title}}</h6>
                      </div>
                      <a href="{% url 'pages:article_detail'  post.slug %}">
                        <div class="blog-header-1">
                          <h3 class="font-2">{{post.title | title | truncatewords:15}}</h3>
                        </div>
                      </a>
                      {% if post.image %}
                      <div class="single-blog-img hidden-xl hidden-lg hidden-sm hidden-md">
                        <a href="{% url 'pages:article_detail'  post.slug %}">
                          <img class="blog-img" src="{% thumbnail post.image 360x180 %}" alt="{{post.title}}" >
                        </a>
                      </div>
                      {% endif %}
                      <div class="blog-meta-1">
                        
                        <span class="date-type">
                          <i class="fa fa-calendar"></i> {{post.created_on.date}}
                        </span>
                        <span class="separator"><p>.</p></span>
                        <span>{% if post.read_time %} {{post.read_time}} Min Read {% endif %}</span> 
                      </div>
                      <div class="blog-text">                      
                        <p>
                          {{post.content | striptags | truncatewords:13}}</p></em>
                        </p>
                      </div>
                      
                    </div>
                    {% if post.image %}
                    <div class="single-blog-img col-md-3 col-sm-3 hidden-xs">
                      <a href="{% url 'pages:article_detail'  post.slug %}">
                        <img class="blog-img" src="{% thumbnail post.image 360x360 %}" alt="{{post.title}}" >
                      </a>
                    </div>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
              {% else %}
              
              
              <!-- Start single blog -->
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="single-blog">
                  
                  <div class="blog-text text-center">
                    <h4>
                      <a href="#">No post matches your search</a>
										</h4>
                    
                  </div>
                </div>
              </div>
              {% endif %}
              <!-- End single blog -->
              
            </div>
            <!-- pagination -->
            {% if page_obj %}
            <div class="blog-pagination container-fluid">
              <ul class="pagination">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>                     
                <li><a href="?page=1">1</a></li>               
                {% endif %}
                <li class="active"><a href="?page={{page_object.number}}">{{page_obj.number}}</a></li>
                <!-- <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li> -->
                  {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}">{{page_obj.next_page_number}}</a></li>
                  <li><a href="?page={{ page_obj.paginator.num_pages }}">&gt;</a></li>
                  {% endif %}
                </ul>
              </div>
              {% endif %}
            </div>
          </div>
          
        </div>
      </div>
  <!-- End Blog Area -->

  <div class="clearfix"></div>
{% endblock %}

