{% extends './base.html' %}
{% block title %}

  <title>{{post.title}} - Articles Mike Creatives</title>  
  <meta content="{{post.content | safe }}" name="description">
{% endblock %}
{% load static %}
{% block content %}
  <!-- Start Bottom Header -->
  <div class="header-bg page-area">
    <div class="home-overly"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="slider-content text-center">
            <div class="header-bottom">
              <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                <h1 class="title2">{% if post.title %}{{post.title}}{% else %} Blog Page Title {% endif %}</h1>
              </div>
              <div class="layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                <h2 class="title3"></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Header -->
  <div class="blog-page area-padding">
    <div class="container">
      <div class="row">
        {% include './includes/left_side_bar.html' %}
        <!-- End left sidebar -->
        <!-- Start single blog -->
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <!-- single-blog start -->
              <article class="blog-post-wrapper">
                <div class="post-thumbnail">
                  <img {% if post.image %} src="{{post.image.url}}" alt="{{post.image}}" {% else %} src="{% static 'pages/img/blog/1.jpg' %} " alt="blog placeholder" {% endif %}/>
                </div>
                <div class="post-information">
                  <h2>{% if post.title %}{{post.title}}{% else %} Blog Page Title {% endif %}</h2>
                  <div class="entry-meta">
                    <span class="author-meta"><i class="fa fa-user"></i> <a href="#">{% if post.author %} {{post.author}} {% else %}user{% endif %}</a></span>
                    <span><i class="fa fa-clock-o"></i>{% if post.created_on %} {{post.created_on }} {% else%}march 28, 2016 {% endif %}</span>
                    
											</span>
                    <span><i class="fa fa-comments-o"></i> <a href="#">{% if post %} {{comments.count}} comments{% else %}5 comments {% endif %}</a></span>
                  </div>
                  {% if post.content %}
                  <div class = "entry-content">
                    {{post.content | safe}}
                  </div>
                  {% else %}
                  <div class="entry-content">
                    <p>Aliquam et metus pharetra, bibendum massa nec, fermentum odio. Nunc id leo ultrices, mollis ligula in, finibus tortor. Mauris eu dui ut lectus fermentum eleifend. Pellentesque faucibus sem ante, non malesuada odio varius nec. Suspendisse
                      potenti. Proin consectetur aliquam odio nec fringilla. Sed interdum at justo in efficitur. Vivamus gravida volutpat sodales. Fusce ornare sit amet ligula condimentum sagittis.</p>
                    <blockquote>
                      <p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur. In venenatis elit ac ultrices convallis. Duis est nisi, tincidunt ac urna sed, cursus blandit lectus. In ullamcorper sit amet ligula ut eleifend. Proin dictum
                        tempor ligula, ac feugiat metus. Sed finibus tortor eu scelerisque scelerisque.</p>
                    </blockquote>
                    <p>Aenean et tempor eros, vitae sollicitudin velit. Etiam varius enim nec quam tempor, sed efficitur ex ultrices. Phasellus pretium est vel dui vestibulum condimentum. Aenean nec suscipit nibh. Phasellus nec lacus id arcu facilisis elementum.
                      Curabitur lobortis, elit ut elementum congue, erat ex bibendum odio, nec iaculis lacus sem non lorem. Duis suscipit metus ante, sed convallis quam posuere quis. Ut tincidunt eleifend odio, ac fringilla mi vehicula nec. Nunc vitae
                      lacus eget lectus imperdiet tempus sed in dui. Nam molestie magna at risus consectetur, placerat suscipit justo dignissim. Sed vitae fringilla enim, nec ullamcorper arcu.</p>
                  </div>
                  {% endif %}
                </div>
              </article>
              <div class="clear"></div>
              <div class="single-post-comments">
                <div class="comments-area">
                  <div class="comments-heading">
                    <h3>{% if comments %} {{comments.count}} comments{% else %} 6 comments {% endif %}</h3>
                  </div>
                  <div class="comments-list">
                    <ul>
                      {% if comments %}
                      {% for comment in comments %}
                      <li class="threaded-comments">
                        <div class="comments-details">
                          <div class="comments-list-img">
                            <img src="{% static 'pages/img/blog/b02.jpg' %}" alt="post-author">
                          </div>
                          <div class="comments-content-wrap">
                            <span>
																<b><a href="#">{{comment.name}}</a></b>
																Post author
																<span class="post-time">{{comment.created_on.date}} at {{comment.created_on.time}}</span>
                            
                            </span>
                            <p>{{comment.body | linebreaks | safe}}</p>
                          </div>
                        </div>
                      </li>
                      {% endfor %}
                      {% else %}
                      <li>
                        <div class="comments-details">
                          <div class="comments-list-img">
                            <img src="{% static 'pages/img/blog/b02.jpg' %}" alt="post-author">
                          </div>
                          <div class="comments-content-wrap">
                            <span>
																<b><a href="#">admin</a></b>
																Post author
																<span class="post-time">October 6, 2014 at 6:18 pm </span>
                            <a href="#">Reply</a>
                            </span>
                            <p>Quisque orci nibh, porta vitae sagittis sit amet, vehicula vel mauris. Aenean at justo dolor. Fusce ac sapien bibendum, scelerisque libero nec</p>
                          </div>
                        </div>
                      </li>
                      <li class="threaded-comments">
                        <div class="comments-details">
                          <div class="comments-list-img">
                            <img src="{% static 'pages/img/blog/b02.jpg' %}" alt="post-author">
                          </div>
                          <div class="comments-content-wrap">
                            <span>
																<b><a href="#">demo</a></b>
																Post author
																<span class="post-time">October 6, 2014 at 7:25 pm</span>
                            <a href="#">Reply</a>
                            </span>
                            <p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur</p>
                          </div>
                        </div>
                      </li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
                
                <div class="comment-respond">
                  {% if new_comment %}
                    <div class="alert alert-success" role="alert">
                      Your comment is awaiting moderation
                    </div>
                    {% else %}
                    
                  <h3 class="comment-reply-title">Leave a Reply </h3>
                  <span class="email-notes">Your email address will not be published. Required fields are marked *</span>
                  <form action="{% url 'pages:article_detail' post.slug %}" method='POST'>
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p>Full Name <span style="color:red">*</span></p>
                        {{comment_form.name}}
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <p>Email <span style="color:red">*</span></p>
                        {{comment_form.email}}
                      </div>
                      <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <p>Website</p>
                        <input type="text" />
                      </div> -->
                      <div class="col-lg-12 col-md-12 col-sm-12 comment-form-comment">
                        <p>Comment</p>
                        {{comment_form.body}}
                        <!-- <textarea id="message-box" cols="30" rows="10"></textarea> -->
                        <input type="submit" value="Post Comment" />
                      </div>
                    </div>
                  </form>
                </div>
                {% endif %}
              </div>
             
              <!-- single-blog end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}