{% extends './base.html' %}
{% block title %}     
  <title>Articles Mike Creatives - The Home of Kenyan Brands</title>  
  <meta content="Latest news as pertaining to the music industry" name="description" />
{% endblock %}
{% block meta %}
  <meta property="og:url"           content="https://mikecreatives.com/articles/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Articles Mike Creatives - The Home Of Kenyan Brands" />
  <meta property="og:description"   content="Latest news as pertaining to the music industry" />
  <meta property="og:image"         content="https://hilmus-mike.s3.af-south-1.amazonaws.com/icons/android-icon-192x192.png" />

{% endblock %}
{% load static %}
{% block content %}
  <!-- Start Bottom Header -->
  <div class="header-bg page-area">
    <div class="home-overly"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="slider-content text-center header-bottom-background">
            <div class="header-bottom">
              <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                <h1 class="title2">MIKE Creatives Blog</h1>
              </div>
              <div class="row">
                <div class="col-md-3 col-sm-2"></div>
                <div class="col-md-6 col-sm-8 text-center layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                  <form action="" method = "get">
                    <!-- {% csrf_token %} -->
                    <div class="search-option">
                      <input type="text" name="q" placeholder="Search...">
                      <button class="button" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    </div>
                  </form>
                </div>
                <div class="col-md-3 col-sm-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Header -->
  <div class="blog-page area-padding">
    <div class="container">
      <div class="row">
        <!-- End left sidebar -->
        <!-- Start single blog -->
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            {% if post_list %}
              <div class="blog-content">
              {% for post in post_list %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="single-blog">
                    
                    {% if post.image %}
                    <div class="single-blog-img">
                      <a href="{% url 'pages:article_detail'  post.slug %}">
                          <img class="blog-img border-radius"  src="{{post.image.url}}" alt="{{post.image}}" alt="blog placeholder" >
                        </a>
                    </div>
                    {% endif %}
                    <a href="{% url 'pages:article_detail'  post.slug %}">
                      <div class="blog-header">
                        <h3>{{post.title}}</h3>
                      </div>
                    </a>
                    <div class="blog-meta">
                      <span class="comments-type" style="margin:auto auto 1rem">
                          <i class="fa fa-comment-o"></i>
                          <a href="#">{{post.comments.count}} comment{{post.comments.count|pluralize}}</a>
                        </span>
                      <span class="date-type">
                          <i class="fa fa-calendar"></i>{{post.created_on.date}} / {{post.created_on.time}}
                        </span>
                      <div class="fb-like" style="padding:1rem 0" data-href="https://mikecreatives.com/articles/{{post.slug}}/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                    </div>
                    <div class="blog-text">
                      
                      <!-- <p>
                        {{post.brief_information}}</p></em>
                      </p> -->
                    </div>
                    <span>
                        <a href="{% url 'pages:article_detail'  post.slug %}" class="ready-btn">Read more</a>
                      </span>
                  </div>
                </div>
              {% endfor %}
            </div>
            {% else %}
           
           
            <!-- Start single blog -->
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="single-blog">
               
                <div class="blog-text text-center">
                  <h4>
											<a href="#">No post matches your search</a>
										</h4>
                  
                </div>
              </div>
            </div>
            {% endif %}
            <!-- End single blog -->
            
          </div>
          <!-- pagination -->
          {% if page_obj %}
            <div class="blog-pagination container-fluid">
              <ul class="pagination">
                {% if page_obj.has_previous %}
                  <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>                     
                  <li><a href="?page=1">1</a></li>               
              {% endif %}
                  <li class="active"><a href="?page={{page_object.number}}">{{page_obj.number}}</a></li>
                <!-- <li><a href="#">2</a></li>
                <li><a href="#">3</a></li> -->
                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}">{{page_obj.next_page_number}}</a></li>
                  <li><a href="?page={{ page_obj.paginator.num_pages }}">&gt;</a></li>
              {% endif %}
              </ul>
            </div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- End Blog Area -->

  <div class="clearfix"></div>
{% endblock %}

