{% extends './base.html' %}
{% block title %}     
  <title>Shop Mike Creatives - The Home of Kenyan Brands</title>  
  <meta content="Shop on content as pertaining to the music industry" name="description"/>
{% endblock %}
{% load static %}
{% block content %}
  <!-- Start Bottom Header -->
  <div class="header-bg page-area">
    <div class="home-overly"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="slider-content text-center">
            <div class="header-bottom">
              <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                <h1 class="title2">Mike Creatives Shop</h1>
              </div>
              <br />
              <div class="layer3 wow zoomInUp" data-wow-duration="1.5s" data-wow-delay=".7s">
                <h2 class="title3" >🍎 🍎 🍎  Coming soon ... 🍎 🍎 🍎 </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Header -->
  <div class="blog-page area-padding">
    <div class="container">
      
    </div>
  </div>
  <!-- End Blog Area -->

  <div class="clearfix"></div>
{% endblock %}

