{% extends './base.html' %}
{% block title %}     
  <title>Contact us - Mike Creatives</title>  
  <meta content=" We believe in the gift of art and the creative economy in Kenya as a catalyst  for the attainment of the Sustainable Development Goals. " name="description">
{% endblock %}
{% load static %}
{% block meta %}
{% if post %}
  <meta property="og:url"                content="https://mikecreatives.com/contacts/" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="Contact us - Mike Creatives" />
  <meta property="og:description"        content="We believe in the gift of art and the creative economy in Kenya as a catalyst  for the attainment of the Sustainable Development Goals."/>
  <meta property="og:image"              content="https://hilmus-mike.s3.af-south-1.amazonaws.com/icons/android-icon-192x192.png" />
  {% endif %}
{% endblock%}


{% block content %}
 <!-- Start Bottom Header -->
 <div class="header-bg page-area">
    <div class="home-overly"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="slider-content text-center">
            <div class="header-bottom">
              <div class="layer2 wow zoomIn" data-wow-duration="1s" data-wow-delay=".4s">
                <h1 class="title2">Contact Us</h1>
              </div>
              <div class="layer3 wow zoomInUp" data-wow-duration="2s" data-wow-delay="1s">
                <h2 class="title3">We are always ready for you</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Header -->
  <!-- Start contact Area -->
  <div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
      <div class="contact-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12  wow fadeInUp">
            <div class="section-headline text-center">
              <h2>Contact us</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12  wow fadeInUp" data-wow-delay="0.2s">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-mobile"></i>
                <p>
                  Call: +254 7568 29620<br>
                  <span>Monday-Friday (8am-5pm)</span>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12  wow fadeInUp" data-wow-delay="0.4s">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-envelope-o"></i>
                <p>
                  Email: connect@mikecreatives.com<br>
                  <!-- <div class="fb-like" data-href="https://mikecreatives.com/contacts/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div> -->
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12  wow fadeInUp" data-wow-delay="0.6s">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-map-marker"></i>
                <p>
                  Location: Pine Tree Plaza, 8<sup>th</sup> Floor<br>
                  <span>P.O Box 73599-00200, Nairobi</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <!-- Start Google Map -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <!-- Start Map -->
            {% include './includes/map.html' %}
            <!-- End Map -->
          </div>
          <!-- End Google Map -->

          <!-- Start  contact -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form contact-form">
              
              <div id="sendmessage"></div>
              <div id="errormessage"></div>
              <form action="{% url 'pages:contacts-submit' %}" method="post" role="form" class="contactForm" id = 'ajaxForm'>
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>
          <!-- End Left contact -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}