{% extends 'mike_admin/base_site.html' %} 
{% load thumbnail %}
{% block title %} {{ post.title }} | Mike Creatives {% endblock title %}
{% block breadcrump %}

<li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "mike_admin:terms" %}">Terms</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">{{post.title}}</span>
      </li>
  {% endblock %}
  {% block m-breadcrump %}
      <li><a href="{% url "mike_admin:home" %}">Home</a> <span class="bread-slash">/</span>
      </li>
      <li><a href="{% url "mike_admin:terms" %}">Terms</a> <span class="bread-slash">/</span>
      </li>
      <li><span class="bread-blod">{{post.title}}</span>
      </li>
  {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="col-md-7 col-sm-12 col-xs-12 col-xl-8 col-lg-8 card mb-4  mt-30 left top">
      <div class="card-body  border-radius">
        <div class="income-dashone-pro">
            <div class="row container-fluid">
                <!-- <div class="col-md-12 center homeback alert primary-alert">
                    <h1><strong>Term of Service</strong></h1>
                </div> -->
            </div>
            {% if user.is_staff %}
            <div class = "row">
                <a href = "{% url 'mike_admin:update_terms' post.id %}"><button class="btn btn-primary">Edit</button></a>
                <a href = "{% url 'mike_admin:delete_terms' post.id %}"><button class="btn btn-danger">Delete</button></a>
            </div>
            <hr />
             {% endif%}
             
            <div class="clear"></div>
        </div>
        <div>
            
        </div>
        <div class="income-dashone-pro">
            <h1><strong>{{post.title}}</strong></h1>  
            <hr />              
            <div class="income-range low-value-cl">
                {{ post.content | safe }}
            </div>
            <div class="clear"></div>
        </div>
      </div>
    </div> 
</div>  
<br />
<br />
{% endblock content %}
